In [3]:
import pandas as pd
import re

In [4]:
df = pd.read_csv('../PR03-project-web/pelistop.csv')

In [5]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11508 entries, 0 to 11507
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   11508 non-null  int64
 1   Título       11508 non-null  object
 2   Año          11508 non-null  int64
 3   Director/es  11508 non-null  object
 4   Reparto      11508 non-null  object
 5   Género/s     11508 non-null  object
 6   País         11508 non-null  object
 7   Puntuación   11508 non-null  float64
 8   Nº votos     11508 non-null  int64
 9   Tipo         11508 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 899.2+ KB

In [6]:
df.head(3)

,Unnamed: 0,Título,Año,Director/es,Reparto,Género/s,País,Puntuación,Nº votos,Tipo
0,0,Fahrenheit 9/11,2004,['Michael Moore'],"['Documental', ' (intervenciones de: Michael M...","['Documental', '11-S', 'Guerra de Iraq']",Estados Unidos,6.99,69775,Película
1,1,La noche más oscura (Zero Dark Thirty),2012,['Kathryn Bigelow'],"['Jessica Chastain', 'Joel Edgerton', 'Taylor ...","['Thriller', 'Acción', 'Drama', 'Terrorismo', ...",Estados Unidos,6.79,36704,Película
2,2,La última noche,2002,['Spike Lee'],"['Edward Norton', 'Philip Seymour Hoffman', 'B...","['Drama', 'Película de culto', '11-S']",Estados Unidos,7.49,33793,Película

In [7]:
df.explode('Reparto').head(5)

,Unnamed: 0,Título,Año,Director/es,Reparto,Género/s,País,Puntuación,Nº votos,Tipo
0,0,Fahrenheit 9/11,2004,['Michael Moore'],"['Documental', ' (intervenciones de: Michael M...","['Documental', '11-S', 'Guerra de Iraq']",Estados Unidos,6.99,69775,Película
1,1,La noche más oscura (Zero Dark Thirty),2012,['Kathryn Bigelow'],"['Jessica Chastain', 'Joel Edgerton', 'Taylor ...","['Thriller', 'Acción', 'Drama', 'Terrorismo', ...",Estados Unidos,6.79,36704,Película
2,2,La última noche,2002,['Spike Lee'],"['Edward Norton', 'Philip Seymour Hoffman', 'B...","['Drama', 'Película de culto', '11-S']",Estados Unidos,7.49,33793,Película
3,3,Zeitgeist: The Movie,2007,['Peter Joseph'],['Documental'],"['Documental', 'Religión', '11-S', 'Cine indep...",Estados Unidos,7.36,21808,Película
4,4,United 93 (Vuelo 93),2006,['Paul Greengrass'],"['Christian Clemenson', 'Cheyenne Jackson', 'B...","['Drama', '11-S', 'Basado en hechos reales', '...",Estados Unidos,6.70,19146,Película

In [8]:
type(df.loc[0,'Reparto'])

str

In [9]:
type(eval(df.loc[0,'Reparto']))

list

In [10]:
re.findall("(\['Documental')[^\]]*(\])",df['Reparto'][0])

[("['Documental'", ']')]

In [11]:
df['Reparto'].str.findall("(\['Documental')[^\]]*(\])")

0        [(['Documental', ])]
1                          []
2                          []
3        [(['Documental', ])]
4                          []
                 ...
11503                      []
11504                      []
11505                      []
11506                      []
11507                      []
Name: Reparto, Length: 11508, dtype: object

In [12]:
df.loc[0,'Reparto']

"['Documental', ' (intervenciones de: Michael Moore', 'George W. Bush', 'George Bush)']"

In [13]:
re.findall("(\['Documental')",df.loc[0,'Reparto'])[0]+']'

"['Documental']"

In [68]:
help(re.findall)

Help on function findall in module re:

findall(pattern, string, flags=0)
    Return a list of all non-overlapping matches in the string.

    If one or more capturing groups are present in the pattern, return
    a list of groups; this will be a list of tuples if the pattern
    has more than one group.

    Empty matches are included in the result.

In [14]:
df['Director/es'] = df['Director/es'].apply(lambda x: eval(x))

In [15]:
df['Género/s'] = df['Género/s'].apply(lambda x: eval(x))

In [16]:
df['Reparto'] = df['Reparto'].apply(lambda x: eval(x))

In [17]:
df.loc[0,'Reparto']

['Documental',
 ' (intervenciones de: Michael Moore',
 'George W. Bush',
 'George Bush)']

In [18]:
df[df['Reparto'] == 'Documental']

Empty DataFrame
Columns: [Unnamed: 0, Título, Año, Director/es, Reparto, Género/s, País, Puntuación, Nº votos, Tipo]
Index: []

In [19]:
df.columns

Index(['Unnamed: 0', 'Título', 'Año', 'Director/es', 'Reparto', 'Género/s',
       'País', 'Puntuación', 'Nº votos', 'Tipo'],
      dtype='object')

In [12]:
df.drop(columns='Unnamed: 0', inplace=True)

In [13]:
df.reset_index(inplace=True)

In [14]:
df.rename(columns={
    'index':'id',
    'Título':'titulo',
    'Año':'año',
    'Director/es':'direccion',
    'Reparto':'reparto',
    'Género/s':'genero',
    'País':'pais',
    'Puntuación':'puntuacion',
    'Nº votos':'votos',
    'Tipo': 'tipo'
}, inplace=True)

In [15]:
df.head()

,id,titulo,año,direccion,reparto,genero,pais,puntuacion,votos,tipo
0,0,Fahrenheit 9/11,2004,[Michael Moore],"[Documental, (intervenciones de: Michael Moor...","[Documental, 11-S, Guerra de Iraq]",Estados Unidos,6.99,69775,Película
1,1,La noche más oscura (Zero Dark Thirty),2012,[Kathryn Bigelow],"[Jessica Chastain, Joel Edgerton, Taylor Kinne...","[Thriller, Acción, Drama, Terrorismo, 11-S, Ba...",Estados Unidos,6.79,36704,Película
2,2,La última noche,2002,[Spike Lee],"[Edward Norton, Philip Seymour Hoffman, Barry ...","[Drama, Película de culto, 11-S]",Estados Unidos,7.49,33793,Película
3,3,Zeitgeist: The Movie,2007,[Peter Joseph],[Documental],"[Documental, Religión, 11-S, Cine independient...",Estados Unidos,7.36,21808,Película
4,4,United 93 (Vuelo 93),2006,[Paul Greengrass],"[Christian Clemenson, Cheyenne Jackson, Ben Sl...","[Drama, 11-S, Basado en hechos reales, Terrori...",Estados Unidos,6.70,19146,Película

In [16]:
df1 = df[['id', 'titulo', 'año', 'pais', 'tipo']]

In [2]:
df.head()

NameError: name 'df' is not defined

In [17]:
df2 = df.explode('direccion')[['id', 'direccion']]

In [18]:
df3 = df.explode('reparto')[['id', 'reparto']]

In [19]:
df3.rename(columns={'reparto':'actor'}, inplace=True)

In [20]:
df4 = df.explode('genero')[['id', 'genero']]

In [21]:
df5 = df[['id','puntuacion', 'votos']]

In [22]:
help(df.to_csv)

Help on method to_csv in module pandas.core.generic:

to_csv(path_or_buf: Union[str, pathlib.Path, IO[~AnyStr], NoneType] = None, sep: str = ',', na_rep: str = '', float_format: Union[str, NoneType] = None, columns: Union[Sequence[Union[Hashable, NoneType]], NoneType] = None, header: Union[bool, List[str]] = True, index: bool = True, index_label: Union[bool, str, Sequence[Union[Hashable, NoneType]], NoneType] = None, mode: str = 'w', encoding: Union[str, NoneType] = None, compression: Union[str, Mapping[str, str], NoneType] = 'infer', quoting: Union[int, NoneType] = None, quotechar: str = '"', line_terminator: Union[str, NoneType] = None, chunksize: Union[int, NoneType] = None, date_format: Union[str, NoneType] = None, doublequote: bool = True, escapechar: Union[str, NoneType] = None, decimal: Union[str, NoneType] = '.', errors: str = 'strict') -> Union[str, NoneType] method of pandas.core.frame.DataFrame instance
    Write object to a comma-separated values (csv) file.

    .. versionchanged:: 0.24.0
        The order of arguments for Series was changed.

    Parameters
    ----------
    path_or_buf : str or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.  If a file object is passed it should be opened with
        `newline=''`, disabling universal newlines.

        .. versionchanged:: 0.24.0

           Was previously named "path" for Series.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, default None
        Format string for floating point numbers.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.

        .. versionchanged:: 0.24.0

           Previously defaulted to False for Series.

    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str
        Python write mode, default 'w'.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'.
    compression : str or dict, default 'infer'
        If str, represents compression mode. If dict, value at 'method' is
        the compression mode. Compression mode may be any of the following
        possible values: {'infer', 'gzip', 'bz2', 'zip', 'xz', None}. If
        compression mode is 'infer' and `path_or_buf` is path-like, then
        detect compression mode from the following extensions: '.gz',
        '.bz2', '.zip' or '.xz'. (otherwise no compression). If dict given
        and mode is one of {'zip', 'gzip', 'bz2'}, or inferred as
        one of the above, other entries passed as
        additional compression options.

        .. versionchanged:: 1.0.0

           May now be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

        .. versionchanged:: 1.1.0

           Passing compression options as keys in dict is
           supported for compression modes 'gzip' and 'bz2'
           as well as 'zip'.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    line_terminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\n' for linux, '\r\n' for Windows, i.e.).

        .. versionchanged:: 0.24.0
    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.
    errors : str, default 'strict'
        Specifies how encoding and decoding errors are to be handled.
        See the errors argument for :func:`open` for a full list
        of options.

        .. versionadded:: 1.1.0

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

    Create 'out.zip' containing 'out.csv'

    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP

In [23]:
df1.to_csv('pelis.csv', index=False)

In [24]:
df2.to_csv('direccion.csv', index=False)
df3.to_csv('actores.csv', index=False)
df4.to_csv('genero.csv', index=False)
df5.to_csv('rating.csv', index=False)

In [25]:
df.columns

Index(['id', 'titulo', 'año', 'direccion', 'reparto', 'genero', 'pais',
       'puntuacion', 'votos', 'tipo'],
      dtype='object')

In [26]:
df3.shape

(84434, 2)

In [27]:
df1.head(2)

   id                                  titulo   año            pais      tipo
0   0                         Fahrenheit 9/11  2004  Estados Unidos  Película
1   1  La noche más oscura (Zero Dark Thirty)  2012  Estados Unidos  Película

In [28]:
df2.head(2)

   id        direccion
0   0    Michael Moore
1   1  Kathryn Bigelow

In [29]:
df3.head(2)

   id                               actor
0   0                          Documental
0   0   (intervenciones de: Michael Moore

In [30]:
df4.head(2)

   id      genero
0   0  Documental
0   0        11-S

In [31]:
df5.head(2)

   id  puntuacion  votos
0   0        6.99  69775
1   1        6.79  36704

In [32]:
%load_ext sql

In [33]:
db_url = 'sqlite:///filmaffinity.db'

In [34]:
df1.to_sql('Pelis', db_url, if_exists='append', index=False)

In [35]:
df2.to_sql('Direccion', db_url, if_exists='append', index=False)

In [36]:
df3.to_sql('Actores', db_url, if_exists='append', index=False)

In [37]:
df4.to_sql('Genero', db_url, if_exists='append', index=False)

In [38]:
df5.to_sql('Rating', db_url, if_exists='append', index=False)

In [40]:
df3.head()

   id                               actor
0   0                          Documental
0   0   (intervenciones de: Michael Moore
0   0                      George W. Bush
0   0                        George Bush)
1   1                    Jessica Chastain

In [1]:
df1.head()

NameError: name 'df1' is not defined

In [20]:
help(df.lookup)

Help on method lookup in module pandas.core.frame:

lookup(row_labels, col_labels) -> numpy.ndarray method of pandas.core.frame.DataFrame instance
    Label-based "fancy indexing" function for DataFrame.

    Given equal-length arrays of row and column labels, return an
    array of the values corresponding to each (row, col) pair.

    Parameters
    ----------
    row_labels : sequence
        The row labels to use for lookup.
    col_labels : sequence
        The column labels to use for lookup.

    Returns
    -------
    numpy.ndarray
        The found values.